body { background-color: #eee; }

.navbar-brand { width: 100px; }

.footer .share-icons a {
  width: 40px;
  height: 40px;
}

.card-cont { margin-bottom: -30px; }

.card-cont > * { margin-bottom: 30px; }

.card { transition: border-color .3s ease-out; }

.card-img-top {
  height: 200px;
  overflow: hidden;
}

.card-img-top img {
  object-fit: contain;
  transition: transform .3s ease-out;
}

.card:hover .card-img-top img {
  transform: scale(1.1);
}

.card:hover {
  border-color: #ffc107;
}

.filter { cursor: pointer; }

.filter.active { color: #ffc107; }

.filter.active .badge { background-color: #ffc107; }